.voice_search{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    z-index: 111111;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}
.voice_head{
    height: 300px;
    background: white;
}
.header{
    width: 500px;
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.header >h3 {
    font-size: 30px;
}
.second{
    justify-content: center;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(187, 1, 1);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    z-index: 1;
}
.icon > .MuiSvgIcon-root{
    position: relative;
    height: 80px;
    width: 80px;
}
.icon::before{
    position: absolute;
    content: '';
    height: 100px;
    width: 100px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    animation: animateIcon 1s forwards infinite;
    z-index: 0;
}

@keyframes animateIcon{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.video1 {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:550px){
    .header{
        width: 200px;
    }
    .header >h3 {
        font-size: 20px;
    }
    .video1{
        height: 80px;
    }
}